#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: #213547;
}

.card {
  text-align: center;
  place-items: center;
  color: #213546;
  display: grid;
  min-width: max-content;
}

.mobile-layer-name {
  text-align: right;
  min-width: 120px;
}

.layer-box {
  display: flex;
  gap: 40px;
  align-items: center;
  margin-right: 160px;
}

.add-buttons {
  min-width: max-content;
  display: grid;
  padding: 1em;
  gap: 10px;
}

@media (max-width: 450px) {
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .layer-box {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-right: 10px;

  }

  .mobile-layer-name {
    text-align: left;

  }
}


